{% extends 'base.html.twig' %}

{% block title %}Nuevo Pedido{% endblock %}

{% block body %}
    <h1>Crear nuevo Pedido</h1>

    {{ include('pedido/_form.html.twig') }}

    <a href="{{ path('app_pedido_index') }}">back to list</a>
{% endblock %}
